@model IEnumerable<TinyCmsTrainer.Models.User>

    @{
    ViewData["Title"] = "Felhasználók";
    }

    <h2>@ViewData["Title"]</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Név</th>
                <th>Email</th>
                <th>Szerepkör</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role?.RoleName</td>
            </tr>
        }
        </tbody>
    </table>

